In [5]:
import pandas as pd
import numpy as np
from sklearn.metrics import jaccard_score

In [6]:
dry_spells_df = pd.read_csv('/Users/bricetikum/Downloads/Project/drySpells.csv')
frost_days_df = pd.read_csv('/Users/bricetikum/Downloads/Project/frostDays.csv')
precipitation_df = pd.read_csv('/Users/bricetikum/Downloads/Project/precipitation.csv')
max_temp_df = pd.read_csv('/Users/bricetikum/Downloads/Project/maxHighTemp.csv')
min_temp_df = pd.read_csv('/Users/bricetikum/Downloads/Project/minLowTemp.csv')

# DRY SPELLS

In [7]:
dry_spells_df.head()

   Year     Month State     City  AVG_Dry_Spell
0  2006   January    MD  Adelphi       0.666667
1  2006  February    MD  Adelphi       0.523810
2  2006     March    MD  Adelphi       0.619048
3  2006     April    MD  Adelphi       0.428571
4  2006       May    MD  Adelphi       0.380952

# FROST DAYS

In [8]:
frost_days_df.head()

   Year     Month State     City  AVG_Frost_Days
0  2006   January    MD  Adelphi       23.333333
1  2006  February    MD  Adelphi       16.000000
2  2006     March    MD  Adelphi       12.809524
3  2006     April    MD  Adelphi        2.619048
4  2006       May    MD  Adelphi        0.095238

# PRECIPITATION

In [9]:
precipitation_df.head()

   Year     Month State     City  AVG_Precip_Percentile
0  2006   January    MD  Adelphi               0.008978
1  2006  February    MD  Adelphi               0.011565
2  2006     March    MD  Adelphi               0.010393
3  2006     April    MD  Adelphi               0.019990
4  2006       May    MD  Adelphi               0.044866

# MAX HIGH TEMPERATURE

In [10]:
max_temp_df.head()

   Year     Month State     City  AVG_Max_High_Temp
0  2006   January    MD  Adelphi          58.380462
1  2006  February    MD  Adelphi          64.210977
2  2006     March    MD  Adelphi          71.779725
3  2006     April    MD  Adelphi          81.003826
4  2006       May    MD  Adelphi          88.391318

# MIN LOW TEMPERATURE

In [11]:
min_temp_df.head()

   Year     Month State     City  AVG_Min_Low_Temp
0  2006   January    MD  Adelphi          6.651906
1  2006  February    MD  Adelphi         12.375184
2  2006     March    MD  Adelphi         18.881910
3  2006     April    MD  Adelphi         29.565725
4  2006       May    MD  Adelphi         39.327334

# MERGED DATA

Kept getting Errors when using concat so I just merged a lotta times

In [12]:
merge_df = pd.merge(dry_spells_df, frost_days_df, on= ['Year', 'Month', 'State', 'City'])
merge_df = pd.merge(merge_df, precipitation_df, on= ['Year', 'Month', 'State', 'City'])
merge_df = pd.merge(merge_df, max_temp_df, on= ['Year', 'Month', 'State', 'City'])
merge_df = pd.merge(merge_df, min_temp_df, on= ['Year', 'Month', 'State', 'City'])
merge_df.head()

,Year,Month,State,City,AVG_Dry_Spell,AVG_Frost_Days,AVG_Precip_Percentile,AVG_Max_High_Temp,AVG_Min_Low_Temp
0,2006,January,MD,Adelphi,0.666667,23.333333,0.008978,58.380462,6.651906
1,2006,February,MD,Adelphi,0.523810,16.000000,0.011565,64.210977,12.375184
2,2006,March,MD,Adelphi,0.619048,12.809524,0.010393,71.779725,18.881910
3,2006,April,MD,Adelphi,0.428571,2.619048,0.019990,81.003826,29.565725
4,2006,May,MD,Adelphi,0.380952,0.095238,0.044866,88.391318,39.327334

# Individual City DF: Adelphi

In [13]:
adelphi_df = merge_df[merge_df.City == 'Adelphi']
adelphi_df.head()

,Year,Month,State,City,AVG_Dry_Spell,AVG_Frost_Days,AVG_Precip_Percentile,AVG_Max_High_Temp,AVG_Min_Low_Temp
0,2006,January,MD,Adelphi,0.666667,23.333333,0.008978,58.380462,6.651906
1,2006,February,MD,Adelphi,0.523810,16.000000,0.011565,64.210977,12.375184
2,2006,March,MD,Adelphi,0.619048,12.809524,0.010393,71.779725,18.881910
3,2006,April,MD,Adelphi,0.428571,2.619048,0.019990,81.003826,29.565725
4,2006,May,MD,Adelphi,0.380952,0.095238,0.044866,88.391318,39.327334

# Individual City DF: Albany

In [14]:
albany_df = merge_df[merge_df.City == 'Albany']
albany_df.head()

,Year,Month,State,City,AVG_Dry_Spell,AVG_Frost_Days,AVG_Precip_Percentile,AVG_Max_High_Temp,AVG_Min_Low_Temp
204,2006,January,CA,Albany,1.000000,0.476190,0.024288,65.503689,36.699087
205,2006,February,CA,Albany,0.380952,0.619048,0.054996,68.575741,37.137335
206,2006,March,CA,Albany,0.761905,0.000000,0.016353,72.179500,42.088860
207,2006,April,CA,Albany,1.190476,0.000000,0.008492,74.968146,43.077417
208,2006,May,CA,Albany,1.714286,0.000000,0.000690,77.666171,45.992517

# Individual City DF: Alachua

In [15]:
alachua_df = merge_df[merge_df.City == 'Alachua']
alachua_df.head()

,Year,Month,State,City,AVG_Dry_Spell,AVG_Frost_Days,AVG_Precip_Percentile,AVG_Max_High_Temp,AVG_Min_Low_Temp
408,2006,January,FL,Alachua,0.714286,2.714286,0.025237,78.249658,27.608118
409,2006,February,FL,Alachua,0.428571,0.952381,0.029095,81.318539,32.829384
410,2006,March,FL,Alachua,0.952381,0.476190,0.008301,84.662147,35.377309
411,2006,April,FL,Alachua,0.857143,0.000000,0.016765,90.444171,45.618184
412,2006,May,FL,Alachua,0.761905,0.000000,0.040942,95.701762,55.105053

# Individual City DF: Ackerman

In [16]:
ackerman_df = merge_df[merge_df.City == 'Ackerman']
ackerman_df.head()

,Year,Month,State,City,AVG_Dry_Spell,AVG_Frost_Days,AVG_Precip_Percentile,AVG_Max_High_Temp,AVG_Min_Low_Temp
612,2006,January,MS,Ackerman,0.761905,15.761905,0.020218,68.284760,16.643736
613,2006,February,MS,Ackerman,0.285714,8.619048,0.035508,71.710266,18.613628
614,2006,March,MS,Ackerman,0.571429,4.238095,0.025910,77.423640,25.492232
615,2006,April,MS,Ackerman,0.714286,0.190476,0.050267,83.610128,36.425706
616,2006,May,MS,Ackerman,0.619048,0.000000,0.068791,89.570718,48.237222

# ALL JACCARD METHODS

 Simple Jaccard Function

In [17]:
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = len(list(set(list1).union(list2)))
    #union = (len(list1) + len(list2)) - intersection
    return 'Jaccard Similarty = ' + str(float(intersection) / union)

Creating Lists for each set of data for each city

In [18]:
adelphi_ds = adelphi_df['AVG_Dry_Spell'].tolist()
albany_ds = albany_df['AVG_Dry_Spell'].tolist()
alachua_ds = alachua_df['AVG_Dry_Spell'].tolist()
ackerman_ds = ackerman_df['AVG_Dry_Spell'].tolist()

In [19]:
adelphi_fd = adelphi_df['AVG_Frost_Days'].tolist()
albany_fd = albany_df['AVG_Frost_Days'].tolist()
alachua_fd = alachua_df['AVG_Frost_Days'].tolist()
ackerman_fd = ackerman_df['AVG_Frost_Days'].tolist()

In [20]:
adelphi_pp = adelphi_df['AVG_Precip_Percentile'].tolist()
albany_pp = albany_df['AVG_Precip_Percentile'].tolist()
alachua_pp = alachua_df['AVG_Precip_Percentile'].tolist()
ackerman_pp = ackerman_df['AVG_Precip_Percentile'].tolist()

In [21]:
adelphi_mht = adelphi_df['AVG_Max_High_Temp'].tolist()
albany_mht = albany_df['AVG_Max_High_Temp'].tolist()
alachua_mht = alachua_df['AVG_Max_High_Temp'].tolist()
ackerman_mht = ackerman_df['AVG_Max_High_Temp'].tolist()

In [22]:
adelphi_mlt = adelphi_df['AVG_Min_Low_Temp'].tolist()
albany_mlt = albany_df['AVG_Min_Low_Temp'].tolist()
alachua_mlt = alachua_df['AVG_Min_Low_Temp'].tolist()
ackerman_mlt = ackerman_df['AVG_Min_Low_Temp'].tolist()

TEST - comparing Albany Dry Spells with Adelphi Dry Spells

In [40]:
jaccard(adelphi_ds, alachua_ds)
#adelhpi - albany = 0.35714285714285715
#adelhpi - alachua = 0.8076923076923077
#adelphi - ackerman = 0.5862068965517241

'Jaccard Similarty = 0.8076923076923077'

In [43]:
jaccard(adelphi_fd, ackerman_fd)
#adelhpi - albany = 0.1111111111111111
#adelhpi - alachua = 0.1746031746031746
#adelphi - ackerman = 0.10857142857142857

'Jaccard Similarty = 0.10857142857142857'

In [45]:
jaccard(adelphi_pp, alachua_pp)
#adelhpi - albany = 0.0
#adelhpi - alachua = 0.0
#adelphi - ackerman = 0.0

'Jaccard Similarty = 0.0'

In [46]:
jaccard(adelphi_mht, albany_mht)
#adelhpi - albany = 0.0
#adelhpi - alachua = 0.0
#adelphi - ackerman = 0.0

'Jaccard Similarty = 0.0'

In [ ]:
jaccard(adelphi_mlt, albany_mlt)
#adelhpi - albany = 0.0
#adelhpi - alachua = 0.0
#adelphi - ackerman = 0.0

Attempting Jaccard Similarity Method for all test features for two cities:

In [24]:
def jaccard2(list1, list2, list3, list4, list5, list6, list7, list8, list9, list10):
    intersection = len(list(set(list1).intersection(list2)))
    intersection2 = len(list(set(list3).intersection(list4)))
    intersection3 = len(list(set(list5).intersection(list6)))
    intersection4 = len(list(set(list7).intersection(list8)))
    intersection5 = len(list(set(list9).intersection(list10)))
    union = len(list(set(list1).union(list2)))
    union2 = len(list(set(list3).union(list4)))
    union3 = len(list(set(list5).union(list6)))
    union4 = len(list(set(list7).union(list8)))
    union5 = len(list(set(list9).union(list10)))
    #union = (len(list1) + len(list2) - intersection)
    #union2 = (len(list3) + len(list4) - intersection2)
    #union3 = (len(list5) + len(list6) - intersection3)
    #union4 = (len(list7) + len(list8) - intersection4)
    #union5 = (len(list9) + len(list10) - intersection5)
    return "Jaccard Similarity for all Indicators are:",\
           "Dry Spells: " + str(float(intersection)/union),\
           'Frost Days: ' + str(float(intersection2)/union2),\
           'Precipitation: ' + str(float(intersection3)/union3),\
           'Max Temp: ' + str(float(intersection4)/union4),\
            'Min Temp: ' + str(float(intersection5)/union5) 

    
       
#Try to make sure you allow lists to be in any order but still match up with one another for example ds with ds
#Make sure theres an intersection and union line for each pair of lists 
#

In [25]:
jaccard2(adelphi_ds, albany_ds, adelphi_fd, albany_fd, adelphi_pp, albany_pp, adelphi_mht, albany_mht, adelphi_mlt, albany_mlt)

('Jaccard Similarity for all Indicators are:',
 'Dry Spells: 0.35714285714285715',
 'Frost Days: 0.1111111111111111',
 'Precipitation: 0.0',
 'Max Temp: 0.0',
 'Min Temp: 0.0')

Creating lists for all cities and data instead of separating by test features as well. This way there is only 4 lists.

In [26]:
adelphi_list = adelphi_ds + adelphi_fd + adelphi_pp + adelphi_mht + adelphi_mlt
albany_list = albany_ds + albany_fd + albany_pp + albany_mht + albany_mlt
alachua_list = alachua_ds + albany_fd + albany_pp + albany_mht + albany_mlt
ackerman_list = ackerman_ds + ackerman_fd + ackerman_pp + ackerman_mht + ackerman_mlt

In [48]:
jaccard(adelphi_list,albany_list)

'Jaccard Similarty = 0.018081761006289308'

In [50]:
jaccard(adelphi_list,alachua_list)

'Jaccard Similarty = 0.02127659574468085'

In [47]:
jaccard(adelphi_list,ackerman_list)

'Jaccard Similarty = 0.0234009360374415'

In [30]:
jaccard(albany_list,alachua_list)

'Jaccard Similarty = 0.9710884353741497'

In [31]:
jaccard(albany_list,ackerman_list)

'Jaccard Similarty = 0.023547880690737835'

In [32]:
jaccard(alachua_list,ackerman_list)

'Jaccard Similarty = 0.020618556701030927'

In [33]:
#ADELPHI 
adelphi_avg_ds = adelphi_df['AVG_Dry_Spell'].mean()
adelphi_avg_fd = adelphi_df['AVG_Frost_Days'].mean()
adelphi_avg_pp = adelphi_df['AVG_Precip_Percentile'].mean()
adelphi_avg_mht = adelphi_df['AVG_Max_High_Temp'].mean()
adelphi_avg_mlt = adelphi_df['AVG_Min_Low_Temp'].mean()
#ALBANY 
albany_avg_ds = albany_df['AVG_Dry_Spell'].mean()
albany_avg_fd = albany_df['AVG_Frost_Days'].mean()
albany_avg_pp = albany_df['AVG_Precip_Percentile'].mean()
albany_avg_mht = albany_df['AVG_Max_High_Temp'].mean()
albany_avg_mlt = albany_df['AVG_Min_Low_Temp'].mean() 
#ALACHUA
alachua_avg_ds = alachua_df['AVG_Dry_Spell'].mean()
alachua_avg_fd = alachua_df['AVG_Frost_Days'].mean()
alachua_avg_pp = alachua_df['AVG_Precip_Percentile'].mean()
alachua_avg_mht = alachua_df['AVG_Max_High_Temp'].mean()
alachua_avg_mlt = alachua_df['AVG_Min_Low_Temp'].mean()
#ACKERMAN
ackerman_avg_ds = ackerman_df['AVG_Dry_Spell'].mean()
ackerman_avg_fd = ackerman_df['AVG_Frost_Days'].mean()
ackerman_avg_pp = ackerman_df['AVG_Precip_Percentile'].mean()
ackerman_avg_mht = ackerman_df['AVG_Max_High_Temp'].mean()
ackerman_avg_mlt = ackerman_df['AVG_Min_Low_Temp'].mean()

In [34]:
adelphi_values = [adelphi_avg_ds, adelphi_avg_fd,adelphi_avg_pp, adelphi_avg_mht,adelphi_avg_mlt]

albany_values = [albany_avg_ds, albany_avg_fd, albany_avg_pp, albany_avg_mht, albany_avg_mlt]

alachua_values = [alachua_avg_ds, alachua_avg_fd, alachua_avg_pp, alachua_avg_mht, alachua_avg_mlt]

ackerman_values = [ackerman_avg_ds, ackerman_avg_fd, ackerman_avg_pp, ackerman_avg_mht, ackerman_avg_mlt]

In [35]:
jaccard(alachua_values, ackerman_values)

'Jaccard Similarty = 0.0'

In [36]:

adelphi = adelphi_df
adelphi['AVG_Dry_Spell']=  adelphi['AVG_Dry_Spell'].mean()
adelphi['AVG_Frost_Days'] = adelphi['AVG_Frost_Days'].mean()
adelphi['AVG_Precip_Percentile'] = adelphi['AVG_Precip_Percentile'].mean()
adelphi['AVG_Max_High_Temp'] = adelphi['AVG_Max_High_Temp'].mean()
adelphi['AVG_Min_Low_Temp'] = adelphi['AVG_Min_Low_Temp'].mean()
adelphi = adelphi.groupby('City').mean()
adelphi = adelphi.T
adelphi = adelphi.reset_index()
adelphi = adelphi.rename(columns={'index': 'Indicator'})
adelphi = adelphi.drop(0)
adelphi

/var/folders/fl/fx633_s52gv6cg0dnz96pnjr0000gn/T/ipykernel_8452/2200519864.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adelphi['AVG_Dry_Spell']=  adelphi['AVG_Dry_Spell'].mean()
/var/folders/fl/fx633_s52gv6cg0dnz96pnjr0000gn/T/ipykernel_8452/2200519864.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adelphi['AVG_Frost_Days'] = adelphi['AVG_Frost_Days'].mean()
/var/folders/fl/fx633_s52gv6cg0dnz96pnjr0000gn/T/ipykernel_8452/2200519864.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adelphi['AVG_Precip_Percentile'] = adelphi['AVG_Precip_Percentile'].mean()
/var/folders/fl/fx633_s52gv6cg0dnz96pnjr0000gn/T/ipykernel_8452/2200519864.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adelphi['AVG_Max_High_Temp'] = adelphi['AVG_Max_High_Temp'].mean()
/var/folders/fl/fx633_s52gv6cg0dnz96pnjr0000gn/T/ipykernel_8452/2200519864.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adelphi['AVG_Min_Low_Temp'] = adelphi['AVG_Min_Low_Temp'].mean()

TypeError: Could not convert JanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecemberJanuaryFebruaryMarchAprilMayJuneJulyAugustSeptemberOctoberNovemberDecember to numeric

In [ ]:
albany = albany_df
albany['AVG_Dry_Spell'] = albany['AVG_Dry_Spell'].mean()
albany['AVG_Frost_Days'] = albany['AVG_Frost_Days'].mean()
albany['AVG_Precip_Percentile'] = albany['AVG_Precip_Percentile'].mean()
albany['AVG_Max_High_Temp'] = albany['AVG_Max_High_Temp'].mean()
albany['AVG_Min_Low_Temp'] = albany['AVG_Min_Low_Temp'].mean()
albany = albany.groupby('City').mean()
albany = albany.T
albany = albany.reset_index()
albany = albany.rename(columns={'index': 'Indicator'})
albany = albany.drop(0)
albany

/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/2400978807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  albany['AVG_Dry_Spell'] = albany['AVG_Dry_Spell'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/2400978807.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  albany['AVG_Frost_Days'] = albany['AVG_Frost_Days'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/2400978807.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  albany['AVG_Precip_Percentile'] = albany['AVG_Precip_Percentile'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/2400978807.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  albany['AVG_Max_High_Temp'] = albany['AVG_Max_High_Temp'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/2400978807.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  albany['AVG_Min_Low_Temp'] = albany['AVG_Min_Low_Temp'].mean()

City              Indicator     Albany
1             AVG_Dry_Spell   1.128852
2            AVG_Frost_Days   0.059057
3     AVG_Precip_Percentile   0.012934
4         AVG_Max_High_Temp  75.931415
5          AVG_Min_Low_Temp  44.827531

In [ ]:
alachua = alachua_df
alachua['AVG_Dry_Spell'] = alachua['AVG_Dry_Spell'].mean()
alachua['AVG_Frost_Days'] = alachua['AVG_Frost_Days'].mean()
alachua['AVG_Precip_Percentile'] = alachua['AVG_Precip_Percentile'].mean()
alachua['AVG_Max_High_Temp'] = alachua['AVG_Max_High_Temp'].mean()
alachua['AVG_Min_Low_Temp'] = alachua['AVG_Min_Low_Temp'].mean()
alachua = alachua.groupby('City').mean()
alachua = alachua.T
alachua = alachua.reset_index()
alachua = alachua.rename(columns={'index': 'Indicator'})
alachua = alachua.drop(0)
alachua

/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/30843777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alachua['AVG_Dry_Spell'] = alachua['AVG_Dry_Spell'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/30843777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alachua['AVG_Frost_Days'] = alachua['AVG_Frost_Days'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/30843777.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alachua['AVG_Precip_Percentile'] = alachua['AVG_Precip_Percentile'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/30843777.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alachua['AVG_Max_High_Temp'] = alachua['AVG_Max_High_Temp'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/30843777.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alachua['AVG_Min_Low_Temp'] = alachua['AVG_Min_Low_Temp'].mean()

City              Indicator    Alachua
1             AVG_Dry_Spell   0.591503
2            AVG_Frost_Days   0.386321
3     AVG_Precip_Percentile   0.041853
4         AVG_Max_High_Temp  90.342350
5          AVG_Min_Low_Temp  48.833371

In [ ]:
ackerman = ackerman_df
ackerman['AVG_Dry_Spell'] = ackerman['AVG_Dry_Spell']
ackerman['AVG_Frost_Days'] = ackerman['AVG_Frost_Days'].mean()
ackerman['AVG_Precip_Percentile'] = ackerman['AVG_Precip_Percentile'].mean()
ackerman['AVG_Max_High_Temp'] = ackerman['AVG_Max_High_Temp'].mean()
ackerman['AVG_Min_Low_Temp'] = ackerman['AVG_Min_Low_Temp'].mean()
ackerman = ackerman.groupby('City').mean()
ackerman = ackerman.T
ackerman = ackerman.reset_index()
ackerman = ackerman.rename(columns={'index': 'Indicator'})
ackerman = ackerman.drop(0)
ackerman

/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/3560263789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ackerman['AVG_Dry_Spell'] = ackerman['AVG_Dry_Spell']
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/3560263789.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ackerman['AVG_Frost_Days'] = ackerman['AVG_Frost_Days'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/3560263789.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ackerman['AVG_Precip_Percentile'] = ackerman['AVG_Precip_Percentile'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/3560263789.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ackerman['AVG_Max_High_Temp'] = ackerman['AVG_Max_High_Temp'].mean()
/var/folders/t3/bbl6z5pd2cvfxdw4rs22y9wm0000gn/T/ipykernel_1120/3560263789.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ackerman['AVG_Min_Low_Temp'] = ackerman['AVG_Min_Low_Temp'].mean()

City              Indicator   Ackerman
1             AVG_Dry_Spell   0.674136
2            AVG_Frost_Days   3.572829
3     AVG_Precip_Percentile   0.030152
4         AVG_Max_High_Temp  85.349569
5          AVG_Min_Low_Temp  38.680463

AVG for each indicator for each city for all years

In [ ]:
cities_avg_df = pd.merge(pd.merge(adelphi, albany, on='Indicator'), alachua, on = 'Indicator').merge(ackerman, on = 'Indicator')
cities_avg_df

City              Indicator    Adelphi     Albany    Alachua   Ackerman
0             AVG_Dry_Spell   0.493697   1.128852   0.591503   0.674136
1            AVG_Frost_Days   6.416433   0.059057   0.386321   3.572829
2     AVG_Precip_Percentile   0.024349   0.012934   0.041853   0.030152
3         AVG_Max_High_Temp  80.783223  75.931415  90.342350  85.349569
4          AVG_Min_Low_Temp  33.109694  44.827531  48.833371  38.680463

All data merged by year

In [ ]:
merge_df2 = merge_df.groupby(['Year']).mean()
merge_df2.head()

,AVG_Dry_Spell,AVG_Frost_Days,AVG_Precip_Percentile,AVG_Max_High_Temp,AVG_Min_Low_Temp
Year,,,,,
2006,0.718254,2.767857,0.026418,82.633903,40.817403
2007,0.740079,2.614087,0.025849,82.901075,41.108601
2008,0.681548,2.503968,0.027856,82.815949,41.264503
2009,0.693452,2.709325,0.027737,82.248094,40.931496
2010,0.718254,2.667659,0.027766,82.911855,41.090235